header{
    display: flex;
}

h1{
    text-align: center;
    font-family: 'Stint Ultra Expanded', sans-serif;
    ;

}
h3 {
  text-align: center;
  font-family: 'Pontano Sans',  sans-serif;

}

.game-board{
    border: 5px solid black;
}

/* THIS IS THE TOP OF THE GAME */
.essential{
    height: 60px;
    border-bottom:10px solid white;
    text-align: center;
    padding-bottom: 5px;
    font-size: 80%;
}

/* THIS IS THE PLAYING FIELD */
.play-field {
  /* make grid to push positions of item divs */
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: auto;
  align-content: center;

  /*need to increase background image width*/
  /* image source: http://www.freepik.com Designed by Freepik */
  background-image: url('../images/bedroom1.jpg');
  background-color:#4c4636;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 5px solid #4c4636;
  align-content: center;
  height: auto;
   
}

/* highlight where divs are during build */
.play-field > div { 
  align-content: center;
  display: inline-block;
  border: 1px solid rgb(233, 171, 88, .5);
  border-radius: 5px;
  background-color: rgba(233, 171, 88, .2);
  color: #d9480f;
  text-align: center;
  font-size: 150%;  
}

span:hover {
  background-color: rgba(172, 231, 105, 0.5);
}


/* THIS IS THE COUNTDOWN AND SUBMIT AREA */
/* door is a button to be styled as a door */
.submit-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.clock{
    width: 32%;
    border-right: 5px solid red;
    align-content: baseline;
    font-family: 'Pontano Sans', sans-serif;

}

.collected {
  width: 32%;
  border-right: 5px solid green;
  font-family: 'Pontano Sans',
  sans-serif;
}

#door{
    width: 32%;
    border-left: 5px solid pink;
}

/* THIS IS THE FOOTER */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
   

}

.reset-button{
   text-align: center;
}

/* .item{
  flex: space-between;

} */

.noclick {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }
}


/* OBJECTS LIST */

/* Create a CSS class that overrides all the inherited properties and 
then just remove all the classes from the div 
and add the css class that overrides everything. 
Trying using background colors instead of images*/
 /* tried changing display to inline. tried adding .css('style', inline-block) to append function */
 /* added duckhunt position absolute to test random */

/* .object { */
  /* height: auto; */
  /* width: 100px;
  height: 100px; */
  /* background: green; */
  /* background-repeat: no-repeat; */
  /* position: absolute; */
/* } */

/* .object.backpack {
  background-image: url('/images/backpack.png');
  background-repeat: no-repeat;
} */
/* 
.object.cellphone {
  background-image: url('images/cellphone.png');
  background-repeat: no-repeat;
}

.coffee {
  background-image: url('images/coffee.png');
  
}

.donut {
  background-image: url('images/donut.png');
  
}

.glasses {
  background-image: url('images/glasses.png');
  
}

.headphones {
  background-image: url('images/headphones.png');
  
}

.housekey {
  background-image: url('images/housekey.png');
    
}

.laptop {
  background-image: url('images/laptop.png');
    
}

.medicine {
  background-image: url('images/medicine.png');
    
}

.wallet {
  background-image: url('images/wallet.png');
    
} */
