header{
    display: flex;
}

h1{
    text-align: center;
}
h2 {
  text-align: center;
}

/* have three boxes within the game board */

.game-board{
    border: 5px solid black;
    /* display: flex; */
    /* flex-direction: column; <--removed. suspected objects inheriting column */
    /* will need to be content align when divs are fleshegit d out */
    /* text-align: center; */

}

/* THIS IS THE TOP OF THE GAME */
/* boxes include the essentials, play field and countdown.  */
.essential{
    height: 60px;
    border-bottom:5px solid blue;
    text-align: center;
}

/* THIS IS THE PLAYING FIELD */
.play-field {
  border-bottom: 5px solid purple;
  /*need to increase background image width*/
  background-image: url('../images/bedroom.jpg');
  background-color: #4c4636;
  background-size: stretch;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  font-size: 40px;
   
}

/* THIS IS THE COUNTDOWN AND SUBMIT AREA */
/* door is a button to be styled as a door */
.submit-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100px;
}

.clock{
    width: 32%;
    border: 5px solid red;
    background-color: yellow;
    align-content: baseline;
}

.collected {
  width: 32%;
  border-right: 5px solid green;
}

#ugh{
  font-size: 38px;
}

#door{
    width: 32%;
    border-left: 5px solid pink;
}

/* THIS IS THE FOOTER */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
}

.reset-button{
   text-align: center;
}

/* .item{
  flex: space-between;

} */

.noclick {
  pointer-events: none;
}

/* OBJECTS LIST */

/* Create a CSS class that overrides all the inherited properties and 
then just remove all the classes from the div 
and add the css class that overrides everything. 
Trying using background colors instead of images*/
 /* tried changing display to inline. tried adding .css('style', inline-block) to append function */
 /* added duckhunt position absolute to test random */

/* .object { */
  /* height: auto; */
  /* width: 100px;
  height: 100px; */
  /* background: green; */
  /* background-repeat: no-repeat; */
  /* position: absolute; */
/* } */

/* .object.backpack {
  background-image: url('/images/backpack.png');
  background-repeat: no-repeat;
} */
/* 
.object.cellphone {
  background-image: url('images/cellphone.png');
  background-repeat: no-repeat;
}

.coffee {
  background-image: url('images/coffee.png');
  
}

.donut {
  background-image: url('images/donut.png');
  
}

.glasses {
  background-image: url('images/glasses.png');
  
}

.headphones {
  background-image: url('images/headphones.png');
  
}

.housekey {
  background-image: url('images/housekey.png');
    
}

.laptop {
  background-image: url('images/laptop.png');
    
}

.medicine {
  background-image: url('images/medicine.png');
    
}

.wallet {
  background-image: url('images/wallet.png');
    
} */
